{% extends "base.html" %}

{% block header_title %} | Accessories available{% endblock %}

{% block body_content %}
        <div>
			List of Accessories:
          <ol> 
			  {% for field in queryset %}
			  <li>
				  {{ field.title }}, {{ field.accessory_type }}, {{ field.brand }}, 
				  {% for bmodel in field.bike_model.all %}
				     {{ bmodel }}
				  {% endfor %}
				  , 
				  {% for pmodel in field.part_model.all %}
					{{ pmodel }}
				  {% endfor %}
			  </li>	
			  {% endfor %}
		  </ol>

		</div>
		<div> 
			<a href="{% url 'deploy_project:accessoryform' %}">Add new Accessory</a>
		</div>
		{% endblock %}