<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bike store</title>
		<h1> Bike Store </h1> 

	
	</head>


	<body>
        <div>
			List:
          <ol> 
			  {% for field in queryset %}
			  <li>
				  {{ field.brand }}, {{ field.model }}, {{ field.category }}, {{ field.frame_size }}, Used: {{ field.used }}
			  </li>	
			  {% endfor %}
		  </ol>

		</div>
		<div> 
			<a href="{% url 'deploy_project:bikeform' %}">Add Bike</a>
		</div>
	</body>
</html>